@import 'variables';

.contact{
    font-family: $font1;
    &__title{
        border-radius: 10px;
        &-h1{
            color: $color4;
            font-size: 35px;
        }
    }
}

.contact__center{
    display: flex;
    justify-content: center;
    align-items: center;
    &--form{
        min-width: 380px;
        width: 400px;
        &-container{
            margin: 10px 0px;
            background-color: none;
            border: none;
            .input__msj{
                width: 100%;
                color: $color4;
                text-align: center;
                border: none;
                background-color: $color5;
                border-bottom: 2px solid $color1;
                font-size: 18px;
                border-radius: 5px;
                transition: 400ms;
                &:hover{
                    background-color: $color1;
                }
            }
            .btn__contact{
                background-color: $color4;
                width: 100%;
                border: none;
                border-radius: 5px;
                color: $color3;
                font-size: 22px;
                font-weight: bold;
                transition: 400ms;
                &:hover{
                    color: $color4;
                    background-color: $color1;
                    font-size: 23px;
                    text-shadow: 0px 0px 3px #000;
                }
            }
        }
    }
}
