@import 'variables';

.galery{
    font-family: $font1;
    &__title{
        text-align: center;
        color: map-get($map: $palette, $key:'color4' ); // USO DE MAP
        margin-bottom: 20px;
        &-s{
            font-size: 40px;
        } 
    }
    &__imgs{
        &--container{
            padding: 3px;
            &-img{
                width: 100%;
                height: 250px;
                transition: 400ms;
                border-radius: 5px;
            }
        }
    }
}