.logo-img{
    font-size: 60px;
    color: $color4;
    margin-right: 10px;

}
.logotitle{
    font-size: 50px;
    font-family: $font2;
    color: $color4;
    transition: all 400ms;

}

.logo-p{
    font-size: 18px;
    font-family: $font2;
    color: $color3;
    
}

.nav-item{
    font-size: 30px;
    font-family: $font1;
    padding: 0px 10px;
    @media (min-width:992px) and (max-width:1200px){
        font-size: 20px;
    }
    a{
        color: $color1;
        &:hover{
            color: $color4;
        }
    }
    .nav-link:focus{
        color: $color1;
    }
}

.header{
    box-shadow: 0px 0px 70px $color2;
    margin-bottom: 30px;
    z-index: 5;
}