// SECTION 1 PORTFOLIO

.carousel-img{
    max-height: 600px;
}

.carousel-inner{
    min-width: 380px;
    max-width: 1200px;
    margin: auto;
}

// SECTION 2 
.portfolio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
    &__img{
        &-w{
            border-radius: 20px;
            min-width: 400px;
            max-width: 600px;
            box-shadow: 0px 0px 50px $color3;
            @media (max-width:1199px){
                width: 300px;
            }
        }
    }
    &__text{
        font-family: $font2;
        margin-top: 50px;
        &--h4{
            font-size: 35px;
            color: $color4;
            @media (max-width:1199px){
                font-size: 33px;
            }
        }
        &--h1{
            font-size: 90px;
            font-weight: bold;
            text-shadow: 0px 0px 30px $color4;
            padding: 20px 0px;
            @media (max-width:1199px){
                font-size: 60px;
            }
        }
        &--fe{
            font-size: 35px;
        }
    }
    &__btn{
        width: 100px;
        text-decoration: none;
        color: $color3;
        background-color: $color4;
        font-size: 20px;
        font-weight: bold;
        font-family: $font2;
        border-radius: 20px;
        padding: 6px;
        transition: 300ms;
        &:hover{
            font-size:23px;
            color: $color3;
        }
    }
}

// SECTION 3 

.proyect__text{
    font-family: $font2;
    text-align: center;
    &-h3{
        font-size: 40px;
        color: $color4;
    }
    &-p{
        font-size: 25px;
        transition: 400ms;
        &:hover{
            color: $color4;
        }
    }
}

.proyect__img{
    @extend .portfolio__img-w;
}



