@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


$font1:'Space Mono', monospace; 
$font2:'Bebas Neue', cursive;
$font3:'Fredoka One', cursive;
$font4:'Press Start 2P', cursive;

$color1:#40454B;
$color2:#050709;
$color3:#2B2B2B;
$color4:#CDCDCB;
$color5:#222222;
$color6:#4848bd;

// MAPA

$palette: (
    'color1':#40454b,
    'color2':#050709,
    'color3':#2B2B2B,
    'color4':#CDCDCB,
    'color5':#222222,
    'color6':#4848bd,
);

// EXTEND

%btn{
    margin-top: 30px;
    width: 180px;
    margin-right: 30px;
    border-radius: 20px;
    border: none;
    text-align: center;
    transition: all 400ms;
    &:hover{
        transform: scale(1.1);
    }
}

// MIXIN 

@mixin boton($fondo, $letra){
    @extend %btn;
    background-color: $fondo;
    color: $letra;
}



@mixin nextPage{
        margin-top: 200px;
        font-size: 45px;
        font-weight: 600;
        a{
            color: $color5;
            transition: 400ms;
            &:hover{
                color: $color4;
            }
        }
    }

@mixin backImg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: 400ms;
}


