@import 'variables';
@import 'navbar';
@import 'services';
@import 'mygame';
@import 'contact';

body{
    width: 100%;
    background: rgb(5,7,9);
    background: linear-gradient(67deg, rgba(5,7,9,1) 0%, rgba(34,34,34,1) 94%);
}

// SECTION 1


.presentacion{
    width: 100%;
    border-radius: 50px;
    font-family: $font3;
    text-align: center;
    color: $color4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    &__h2{
        font-size: 40px;
    }
    &__p{
        font-size: 50px;

    }
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: $font1;
    padding-top: 30px;
    &__redes{
        padding-top: 50px;
        font-size: 25px;
        display: flex;
        gap: 1rem;
        a{
            color: $color1;
            &:hover{
                color: $color4;
            }
            
        }
        .linea{
            width: 100px;
            height: 2px;
            margin-top: 15px;
            background-color: $color3;
        }
    }
    &__text--hello{
        padding-top: 50px;
        color: $color1;
        font-size: 60px;
        text-align: center;

        @media (max-width:992px){
            font-size: 45px;
        }
        span{
            font-weight: 600;
            color: $color4;
            font-size: 50px;
            @media (max-width:992px){
                font-size: 35px;
            }
        }
        
    }
    &__text--welcome{
        padding-top: 50px;
        font-size: 40px;
        font-family: $font1;
        transition: 800ms;
        color: $color4;
        @media (max-width:992px){
            font-size: 35px;
            text-align: center;
        }
        
    }
    &__btn{
        margin-top: 30px;
        width: 180px;
        margin-right: 30px;
        border-radius: 20px;
        border: none;
        text-align: center;
        background-color: $color4;
        transition: all 400ms;
        &:hover{
            transform: scale(1.1);
        }
        a{
            text-decoration: none;
            font-family: $font1;
            font-size: 20px;
            font-weight: 600;
            color: $color1;
        }

    }
    &__nextpage{
        padding-top: 80px;
        font-size: 40px;
        font-weight: 600;
        @media (max-width:992px){
            padding-top: 50px;
            font-size: 25px;
        }
        a{
            color: $color5;
            transition: 400ms;
            &:hover{
                color: $color4;
            }
        }
    }
}


// SECTION 2

.sec2{
    padding-top:50px;
    @media (max-width:992px){
        // margin-top: -190px;
    }
    &__title{
        text-align: center;
        font-family: $font1;
        font-size: 50px;
        color: $color1;
        transition: 600ms;
        @media (max-width:992px){
            font-size: 35px;
        }
        &:hover{
            color: $color4;
        }
    }
}

.tools{
    text-align: center;
    &__a{
        &--img{
            width: 100px;
            margin: 20px 0px;
            transition: 600ms;
            @media (max-width:992px){
                width: 80px;
            }
            &:hover{
                width: 105px;
                @media (max-width:992px){
                    width: 85px;
                }
            }
        }
        &--imgS{
            width: 100px;
            height: 100px;
            margin: 20px 0px;
            transition: 600ms;
            @media (max-width:992px){
                width: 80px;
                height: 80px;
            }
            &:hover{
                width: 105px;
                height: 105px;
                @media (max-width:992px){
                    width: 85px;
                    height: 85px;
                }
            }
        }
    }
    &__text{
        font-size: 18px;
        color: $color1;
        font-family: $font2;
        font-weight: 400;
        transition: 400ms;
        @media (max-width:992px){
            color: $color4;
        }
        &:hover{
            color: $color4;
        }
    }
} 

.btn__nextpage{
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
    @media (max-width:992px){
        padding-top: 50px;
        font-size: 25px;
    }
    a{
        color: $color5;
        transition: 400ms;
        &:hover{
            color: $color4;
        }
    }
}


// SECTION 3

.sec3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-top: 100px;
    @media (max-width:992px){
        text-align: center;
        // padding-top: 200px;
    }
    @media (min-width:992px) and (max-width:1199px){
        // padding-top: 300px;
    }
    &__text{
        padding-top: 50px;
        font-family: $font1;
        @media (max-width:426px){
            // padding-top: 250px
        }
        @media (max-width:992px){
            // padding-top: 100px
        }
        &--h2{
            font-size: 50px;
            color: $color4;
            // padding-bottom: 50px;
            @media (max-width:992px){
                font-size: 35px;
            }
            .profe, .tutor, .alumno{
                font-size: 30px;
                color: $color1;
                transition: 600ms;
                @media (max-width:992px){
                    font-size: 28px;
                }
                &:hover{
                    color: $color4;
                }
            }
        }
        &--p{
            font-size: 23px;
            transition: 600ms;
            color: $color4;
            @media (max-width:992px){
                font-size: 18px;
            }
        }
    }
    &__img{
        padding-top: 50px;
        @media (max-width:992px){
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 50px;
        }
        &-t{
            width: 350px;
            border-radius: 50%;
            box-shadow: 0px 0px 10px $color4;
            @media (max-width:992px){
                width: 250px;
            }
        }
    }
}

// FOOTER 

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $color4;
    height: 200px;
    margin-top: 50px;
    box-shadow: 0px 0px 20px $color6;
    &__redes{
        margin-top: 20px;
        font-size: 25px;
        a{
            color: $color1;
            &:hover{
                color: $color5;
            }
            i{
                padding: 10px;
            }
        }
    }
    &__copyr{
        &--txt{
            font-size: 18px;
            font-family: $font1;
            color: $color3;
            padding-bottom: 10px;
        }
    }
}

.btn-uppage{
        font-size: 40px;
        font-weight: 600;
        position: absolute;
        bottom: 70px;
        right: 80px ;
        @media (max-width:992px){
            // display: none;
            font-size: 20px;
            right: 30px;
            bottom: 150px;
        }
        a{
            color: $color1;
            transition: 400ms;
            &:hover{
                color: $color5;
            }
        }
}







